.button {
  width: 20%;
  /* border-radius: 10em; */
  height: 5em;
  box-shadow: 0 5px 8px rgba(20, 20, 20, 0.397);
  font-family: 'M PLUS 1p', sans-serif;
  font-weight: bold;
  margin: 0.5%;

}

.button:hover {
  background-color: #c9c4c4ec;
}