@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');


* {
    box-sizing: border-box;
  }
  
  html {
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    background-color: rgb(75, 136, 189);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-image: url("../../public/wallpaper.jpg");
    background-size: 100%;
    background-blend-mode:hard-light;
    background-attachment: scroll;
  }
  
  body {
    width: 100%;
    height: 100%;
    margin: 0;
  }
